<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      width: 80%;
      margin: 0 auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 8px 12px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="container">
  <table class="m-5">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers._embedded.customers">
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>{{c.email}}</td>
      <td>
        <button class="btn btn-success" (click)="getOrders(c)">Orders</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
